[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs/
	branch = develop
[submodule ".layers/epitech"]
	path = .layers/epitech
	url = https://github.com/Cadichon/epitech-layer
